In [4]:
import re
with open('FloridaVoters.html', 'r') as f:
    lines = [line.strip() for line in f]

In [35]:
from functools import partial
tableMatch = partial(re.match, '<td>')

In [41]:
table = filter(tableMatch, lines)

In [47]:
table

['<td>ALACHUA</td>',
 '<td>47,329</td>',
 '<td>77,996</td>',
 '<td>3,864</td>',
 '<td>34,116</td>',
 '<td>163,305</td>',
 '<td>BAKER</td>',
 '<td>6,963</td>',
 '<td>5,813</td>',
 '<td>184</td>',
 '<td>1,237</td>',
 '<td>14,197</td>',
 '<td>BAY</td>',
 '<td>57,456</td>',
 '<td>30,733</td>',
 '<td>2,441</td>',
 '<td>20,625</td>',
 '<td>111,255</td>',
 '<td>BRADFORD</td>',
 '<td>6,878</td>',
 '<td>6,533</td>',
 '<td>251</td>',
 '<td>1,971</td>',
 '<td>15,633</td>',
 '<td>BREVARD</td>',
 '<td>167,129</td>',
 '<td>127,435</td>',
 '<td>13,960</td>',
 '<td>86,702</td>',
 '<td>395,226</td>',
 '<td>BROWARD</td>',
 '<td>249,762</td>',
 '<td>566,185</td>',
 '<td>17,602</td>',
 '<td>286,877</td>',
 '<td>1,120,426</td>',
 '<td>CALHOUN</td>',
 '<td>2,201</td>',
 '<td>5,324</td>',
 '<td>86</td>',
 '<td>771</td>',
 '<td>8,382</td>',
 '<td>CHARLOTTE</td>',
 '<td>54,421</td>',
 '<td>35,602</td>',
 '<td>5,246</td>',
 '<td>29,131</td>',
 '<td>124,400</td>',
 '<td>CITRUS</td>',
 '<td>46,373</td>',
 '<td>30,440</td>',
 '<td>3,394</td>',
 '<td>21,996</td>',
 '<td>102,203</td>',
 '<td>CLAY</td>',
 '<td>76,584</td>',
 '<td>31,285</td>',
 '<td>3,782</td>',
 '<td>29,120</td>',
 '<td>140,771</td>',
 '<td>COLLIER</td>',
 '<td>100,167</td>',
 '<td>45,511</td>',
 '<td>4,622</td>',
 '<td>44,100</td>',
 '<td>194,400</td>',
 '<td>COLUMBIA</td>',
 '<td>15,790</td>',
 '<td>14,797</td>',
 '<td>909</td>',
 '<td>5,581</td>',
 '<td>37,077</td>',
 '<td>DESOTO</td>',
 '<td>4,870</td>',
 '<td>7,181</td>',
 '<td>235</td>',
 '<td>2,987</td>',
 '<td>15,273</td>',
 '<td>DIXIE</td>',
 '<td>3,314</td>',
 '<td>4,839</td>',
 '<td>233</td>',
 '<td>1,201</td>',
 '<td>9,587</td>',
 '<td>DUVAL</td>',
 '<td>210,195</td>',
 '<td>229,501</td>',
 '<td>16,436</td>',
 '<td>101,497</td>',
 '<td>557,629</td>',
 '<td>ESCAMBIA</td>',
 '<td>90,265</td>',
 '<td>70,180</td>',
 '<td>5,152</td>',
 '<td>35,306</td>',
 '<td>200,903</td>',
 '<td>FLAGLER</td>',
 '<td>30,047</td>',
 '<td>24,734</td>',
 '<td>1,838</td>',
 '<td>20,071</td>',
 '<td>76,690</td>',
 '<td>FRANKLIN</td>',
 '<td>2,234</td>',
 '<td>4,319</td>',
 '<td>137</td>',
 '<td>780</td>',
 '<td>7,470</td>',
 '<td>GADSDEN</td>',
 '<td>4,372</td>',
 '<td>22,161</td>',
 '<td>313</td>',
 '<td>2,211</td>',
 '<td>29,057</td>',
 '<td>GILCHRIST</td>',
 '<td>5,789</td>',
 '<td>3,652</td>',
 '<td>304</td>',
 '<td>1,400</td>',
 '<td>11,145</td>',
 '<td>GLADES</td>',
 '<td>2,190</td>',
 '<td>3,110</td>',
 '<td>161</td>',
 '<td>971</td>',
 '<td>6,432</td>',
 '<td>GULF</td>',
 '<td>4,234</td>',
 '<td>4,521</td>',
 '<td>174</td>',
 '<td>1,007</td>',
 '<td>9,936</td>',
 '<td>HAMILTON</td>',
 '<td>2,154</td>',
 '<td>4,796</td>',
 '<td>156</td>',
 '<td>800</td>',
 '<td>7,906</td>',
 '<td>HARDEE</td>',
 '<td>4,859</td>',
 '<td>4,702</td>',
 '<td>228</td>',
 '<td>1,623</td>',
 '<td>11,412</td>',
 '<td>HENDRY</td>',
 '<td>5,862</td>',
 '<td>7,999</td>',
 '<td>273</td>',
 '<td>2,742</td>',
 '<td>16,876</td>',
 '<td>HERNANDO</td>',
 '<td>51,254</td>',
 '<td>42,499</td>',
 '<td>4,685</td>',
 '<td>28,362</td>',
 '<td>126,800</td>',
 '<td>HIGHLANDS</td>',
 '<td>27,100</td>',
 '<td>19,997</td>',
 '<td>1,730</td>',
 '<td>10,998</td>',
 '<td>59,825</td>',
 '<td>HILLSBOROUGH</td>',
 '<td>257,436</td>',
 '<td>314,265</td>',
 '<td>22,612</td>',
 '<td>204,103</td>',
 '<td>798,416</td>',
 '<td>HOLMES</td>',
 '<td>5,282</td>',
 '<td>4,434</td>',
 '<td>117</td>',
 '<td>1,069</td>',
 '<td>10,902</td>',
 '<td>INDIAN RIVER</td>',
 '<td>47,794</td>',
 '<td>28,204</td>',
 '<td>3,279</td>',
 '<td>23,070</td>',
 '<td>102,347</td>',
 '<td>JACKSON</td>',
 '<td>9,626</td>',
 '<td>15,706</td>',
 '<td>333</td>',
 '<td>2,617</td>',
 '<td>28,282</td>',
 '<td>JEFFERSON</td>',
 '<td>2,636</td>',
 '<td>5,802</td>',
 '<td>176</td>',
 '<td>822</td>',
 '<td>9,436</td>',
 '<td>LAFAYETTE</td>',
 '<td>1,373</td>',
 '<td>2,672</td>',
 '<td>47</td>',
 '<td>238</td>',
 '<td>4,330</td>',
 '<td>LAKE</td>',
 '<td>93,604</td>',
 '<td>67,237</td>',
 '<td>7,444</td>',
 '<td>44,262</td>',
 '<td>212,547</td>',
 '<td>LEE</td>',
 '<td>180,718</td>',
 '<td>114,633</td>',
 '<td>10,921</td>',
 '<td>108,675</td>',
 '<td>414,947</td>',
 '<td>LEON</td>',
 '<td>54,554</td>',
 '<td>103,140</td>',
 '<td>4,305</td>',
 '<td>30,416</td>',
 '<td>192,415</td>',
 '<td>LEVY</td>',
 '<td>11,665</td>',
 '<td>9,509</td>',
 '<td>1,307</td>',
 '<td>3,518</td>',
 '<td>25,999</td>',
 '<td>LIBERTY</td>',
 '<td>720</td>',
 '<td>3,372</td>',
 '<td>23</td>',
 '<td>318</td>',
 '<td>4,433</td>',
 '<td>MADISON</td>',
 '<td>2,992</td>',
 '<td>7,158</td>',
 '<td>208</td>',
 '<td>930</td>',
 '<td>11,288</td>',
 '<td>MANATEE</td>',
 '<td>96,063</td>',
 '<td>67,926</td>',
 '<td>5,525</td>',
 '<td>49,212</td>',
 '<td>218,726</td>',
 '<td>MARION</td>',
 '<td>97,306</td>',
 '<td>76,268</td>',
 '<td>8,748</td>',
 '<td>39,035</td>',
 '<td>221,357</td>',
 '<td>MARTIN</td>',
 '<td>53,800</td>',
 '<td>27,358</td>',
 '<td>5,332</td>',
 '<td>21,464</td>',
 '<td>107,954</td>',
 '<td>MIAMI-DADE</td>',
 '<td>362,161</td>',
 '<td>539,367</td>',
 '<td>18,093</td>',
 '<td>360,713</td>',
 '<td>1,280,334</td>',
 '<td>MONROE</td>',
 '<td>20,602</td>',
 '<td>17,614</td>',
 '<td>1,446</td>',
 '<td>13,742</td>',
 '<td>53,404</td>',
 '<td>NASSAU</td>',
 '<td>32,958</td>',
 '<td>14,013</td>',
 '<td>1,948</td>',
 '<td>10,085</td>',
 '<td>59,004</td>',
 '<td>OKALOOSA</td>',
 '<td>75,154</td>',
 '<td>25,172</td>',
 '<td>2,462</td>',
 '<td>25,552</td>',
 '<td>128,340</td>',
 '<td>OKEECHOBEE</td>',
 '<td>7,755</td>',
 '<td>7,756</td>',
 '<td>625</td>',
 '<td>3,201</td>',
 '<td>19,337</td>',
 '<td>ORANGE</td>',
 '<td>206,174</td>',
 '<td>303,458</td>',
 '<td>15,996</td>',
 '<td>195,990</td>',
 '<td>721,618</td>',
 '<td>OSCEOLA</td>',
 '<td>44,594</td>',
 '<td>75,657</td>',
 '<td>3,753</td>',
 '<td>53,177</td>',
 '<td>177,181</td>',
 '<td>PALM BEACH</td>',
 '<td>245,452</td>',
 '<td>367,236</td>',
 '<td>30,338</td>',
 '<td>216,973</td>',
 '<td>859,999</td>',
 '<td>PASCO</td>',
 '<td>125,305</td>',
 '<td>104,324</td>',
 '<td>14,943</td>',
 '<td>77,546</td>',
 '<td>322,118</td>',
 '<td>PINELLAS</td>',
 '<td>223,077</td>',
 '<td>221,968</td>',
 '<td>23,065</td>',
 '<td>150,484</td>',
 '<td>618,594</td>',
 '<td>POLK</td>',
 '<td>140,619</td>',
 '<td>143,799</td>',
 '<td>11,433</td>',
 '<td>92,620</td>',
 '<td>388,471</td>',
 '<td>PUTNAM</td>',
 '<td>17,067</td>',
 '<td>20,606</td>',
 '<td>973</td>',
 '<td>7,976</td>',
 '<td>46,622</td>',
 '<td>SANTA ROSA</td>',
 '<td>73,627</td>',
 '<td>26,114</td>',
 '<td>4,104</td>',
 '<td>22,378</td>',
 '<td>126,223</td>',
 '<td>SARASOTA</td>',
 '<td>125,872</td>',
 '<td>89,711</td>',
 '<td>9,144</td>',
 '<td>66,483</td>',
 '<td>291,210</td>',
 '<td>SEMINOLE</td>',
 '<td>107,833</td>',
 '<td>91,686</td>',
 '<td>7,005</td>',
 '<td>67,125</td>',
 '<td>273,649</td>',
 '<td>ST. JOHNS</td>',
 '<td>88,385</td>',
 '<td>39,531</td>',
 '<td>5,074</td>',
 '<td>33,401</td>',
 '<td>166,391</td>',
 '<td>ST. LUCIE</td>',
 '<td>59,626</td>',
 '<td>76,163</td>',
 '<td>6,338</td>',
 '<td>44,384</td>',
 '<td>186,511</td>',
 '<td>SUMTER</td>',
 '<td>47,158</td>',
 '<td>22,977</td>',
 '<td>2,935</td>',
 '<td>15,899</td>',
 '<td>88,969</td>',
 '<td>SUWANNEE</td>',
 '<td>10,745</td>',
 '<td>11,126</td>',
 '<td>1,019</td>',
 '<td>2,959</td>',
 '<td>25,849</td>',
 '<td>TAYLOR</td>',
 '<td>3,950</td>',
 '<td>6,915</td>',
 '<td>227</td>',
 '<td>898</td>',
 '<td>11,990</td>',
 '<td>UNION</td>',
 '<td>2,752</td>',
 '<td>3,579</td>',
 '<td>128</td>',
 '<td>574</td>',
 '<td>7,033</td>',
 '<td>VOLUSIA</td>',
 '<td>121,402</td>',
 '<td>124,136</td>',
 '<td>11,537</td>',
 '<td>88,882</td>',
 '<td>345,957</td>',
 '<td>WAKULLA</td>',
 '<td>7,374</td>',
 '<td>8,889</td>',
 '<td>560</td>',
 '<td>2,681</td>',
 '<td>19,504</td>',
 '<td>WALTON</td>',
 '<td>25,609</td>',
 '<td>10,013</td>',
 '<td>842</td>',
 '<td>8,150</td>',
 '<td>44,614</td>',
 '<td>WASHINGTON</td>',
 '<td>7,101</td>',
 '<td>5,687</td>',
 '<td>221</td>',
 '<td>1,690</td>',
 '<td>14,699</td>',
 '<td>Total</td>',
 '<td>4,377,713</td>',
 '<td>4,637,026</td>',
 '<td>332,982</td>',
 '<td>2,867,495</td>',
 '<td>12,215,216</td>']

In [61]:
table = [line.replace('<td>', '') for line in table]
table = [line.replace('</td>', '') for line in table]
table = [line.replace(',', '') for line in table]

In [62]:
firstThreeColumns = []
for i in range((len(table)/6)):
    firstThreeColumns.append((table[6*i], int(table[6*i+1]), int(table[6*i+2])))

In [65]:
from operator import itemgetter
sortDemocrat = sorted(firstThreeColumns, key=itemgetter(2))
sortDemocrat

[('LAFAYETTE', 1373, 2672),
 ('GLADES', 2190, 3110),
 ('LIBERTY', 720, 3372),
 ('UNION', 2752, 3579),
 ('GILCHRIST', 5789, 3652),
 ('FRANKLIN', 2234, 4319),
 ('HOLMES', 5282, 4434),
 ('GULF', 4234, 4521),
 ('HARDEE', 4859, 4702),
 ('HAMILTON', 2154, 4796),
 ('DIXIE', 3314, 4839),
 ('CALHOUN', 2201, 5324),
 ('WASHINGTON', 7101, 5687),
 ('JEFFERSON', 2636, 5802),
 ('BAKER', 6963, 5813),
 ('BRADFORD', 6878, 6533),
 ('TAYLOR', 3950, 6915),
 ('MADISON', 2992, 7158),
 ('DESOTO', 4870, 7181),
 ('OKEECHOBEE', 7755, 7756),
 ('HENDRY', 5862, 7999),
 ('WAKULLA', 7374, 8889),
 ('LEVY', 11665, 9509),
 ('WALTON', 25609, 10013),
 ('SUWANNEE', 10745, 11126),
 ('NASSAU', 32958, 14013),
 ('COLUMBIA', 15790, 14797),
 ('JACKSON', 9626, 15706),
 ('MONROE', 20602, 17614),
 ('HIGHLANDS', 27100, 19997),
 ('PUTNAM', 17067, 20606),
 ('GADSDEN', 4372, 22161),
 ('SUMTER', 47158, 22977),
 ('FLAGLER', 30047, 24734),
 ('OKALOOSA', 75154, 25172),
 ('SANTA ROSA', 73627, 26114),
 ('MARTIN', 53800, 27358),
 ('INDIAN RIVER', 47794, 28204),
 ('CITRUS', 46373, 30440),
 ('BAY', 57456, 30733),
 ('CLAY', 76584, 31285),
 ('CHARLOTTE', 54421, 35602),
 ('ST. JOHNS', 88385, 39531),
 ('HERNANDO', 51254, 42499),
 ('COLLIER', 100167, 45511),
 ('LAKE', 93604, 67237),
 ('MANATEE', 96063, 67926),
 ('ESCAMBIA', 90265, 70180),
 ('OSCEOLA', 44594, 75657),
 ('ST. LUCIE', 59626, 76163),
 ('MARION', 97306, 76268),
 ('ALACHUA', 47329, 77996),
 ('SARASOTA', 125872, 89711),
 ('SEMINOLE', 107833, 91686),
 ('LEON', 54554, 103140),
 ('PASCO', 125305, 104324),
 ('LEE', 180718, 114633),
 ('VOLUSIA', 121402, 124136),
 ('BREVARD', 167129, 127435),
 ('POLK', 140619, 143799),
 ('PINELLAS', 223077, 221968),
 ('DUVAL', 210195, 229501),
 ('ORANGE', 206174, 303458),
 ('HILLSBOROUGH', 257436, 314265),
 ('PALM BEACH', 245452, 367236),
 ('MIAMI-DADE', 362161, 539367),
 ('BROWARD', 249762, 566185),
 ('Total', 4377713, 4637026)]